<footer class="main-footer" aria-labelledby="footer-heading">
  <h2>Explore YTToolkits Tools</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-20 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="footerLikContainer">
      <a title="YouTube Tags Generator" href="/tag-genrator" class="mainLink"
      >Tags Generator</a
    >
    <a
    title="Youtube Title Analyzer"
    href="/youtube-title-analyzer"
    class="mainLink"
    >Youtube Title Analyzer
  </a>
  <a
    title="Spotify Top Songs Today"
    href="/spotify-top-songs-right-now"
    class="mainLink"
  >
    Top Songs Today
    <span
      class="absolute -top-1.5 -right-2 rotate-6 text-xs text-white bg-red-600 animate-pulse rounded-full px-1"
      >New</span
    >
  </a>
  <a
    title="Top Spotify Artists 2024"
    href="/top-spotify-artists"
    class="mainLink"
  >
    Top Artists 2024
    <span
      class="absolute -top-1.5 -right-2 rotate-6 text-xs text-white bg-red-600 animate-pulse rounded-full px-1"
      >New</span
    >
  </a>
  <a
    title="Spotify Premium Free"
    href="/spotify-premium-free"
    class="mainLink"
  >
    Spotify Premium Free
    <span
      class="absolute -top-1 -right-1 w-3 h-3 bg-green-500 text-white animate-pulse rounded-full px-1"
    ></span>
  </a>
  <a title="New Spotify Pie" href="/new-spotify-pie" class="mainLink">
    New Spotify Pie
    <span
      class="absolute -top-1.5 -right-2 rotate-6 text-xs text-white bg-red-600 animate-pulse rounded-full px-1"
      >New</span
    >
  </a>
  <a title="Spotify Wrapped" href="/spotify-wrapped" class="mainLink"
    >Spotify Wrapped 2024</a
  >
  <a title="Blogs" href="/blog" class="mainLink">Blogs</a>
    </div>
    <div
      style="text-align: center;"
    >
      <p style="font-size: 14px; opacity: .7;">
        © 2024 Spotify Pie by <a href="/">yttoolkits.github.io</a>. All
        rights reserved.
      </p>
    </div>
  </div>
</footer>
