<!-- <header class="max-w-4xl mx-auto">
    <div
      class="flex flex-col justify-center items-center py-4 px-4 sm:px-0 border-b gap-2"
    >
      <a
        href="/"
        class="flex items-center gap-2 sm:text-2xl font-bold mb-4 md:mb-0 whitespace-nowrap"
      >
        <img
          class="w-8 inline-block"
          src="{{ site.baseurl }}/assets/img/spotify-pie.png"
          alt="Spotify Pie"
        />
        Spotify Pie
      </a>
      <div class="flex justify-center w-full gap-2 flex-wrap">
        <a
          title="Stats For Spotify"
          href="/spotify-stats"
          class="relative bg-gray-100 px-2 py-1 rounded-lg"
          >Spotify Stats</a
        >

        <a
          title="Receiptify"
          href="/receiptify"
          class="relative bg-gray-100 px-2 py-1 rounded-lg"
        >
          Receiptify
        </a>
        <a
          title="Spotify Top Songs Today"
          href="/spotify-top-songs-right-now"
          class="relative bg-gray-100 px-2 py-1 rounded-lg"
        >
          Top Songs Today
          <span
            class="absolute -top-1.5 -right-2 rotate-6 text-xs text-white bg-red-600 animate-pulse rounded-full px-1"
            >New</span
          >
        </a>
        <a
          title="Top Spotify Artists 2024"
          href="/top-spotify-artists"
          class="relative bg-gray-100 px-2 py-1 rounded-lg"
        >
          Top Artists 2024
          <span
            class="absolute -top-1.5 -right-2 rotate-6 text-xs text-white bg-red-600 animate-pulse rounded-full px-1"
            >New</span
          >
        </a>
        <a
          title="Spotify Premium Free"
          href="/spotify-premium-free"
          class="relative bg-gray-100 px-2 py-1 rounded-lg"
        >
          Spotify Premium Free
          <span
            class="absolute -top-1 -right-1 w-3 h-3 bg-green-500 text-white animate-pulse rounded-full px-1"
          ></span>
        </a>
        <a
          title="New Spotify Pie"
          href="/new-spotify-pie"
          class="relative bg-gray-100 px-2 py-1 rounded-lg"
        >
          New Spotify Pie
          <span
            class="absolute -top-1.5 -right-2 rotate-6 text-xs text-white bg-red-600 animate-pulse rounded-full px-1"
            >New</span
          >
        </a>
        <a
          title="Spotify Wrapped"
          href="/spotify-wrapped"
          class="relative bg-gray-100 px-2 py-1 rounded-lg"
          >Spotify Wrapped 2024</a
        >
        <a
          title="Blogs"
          href="/blog"
          class="relative bg-gray-100 px-2 py-1 rounded-lg"
          >Blogs</a
        >
      </div>
    </div>
   
  </header>
   -->
