<header class="main-header">
  <div
    class="flex flex-col justify-center items-center py-4 px-4 sm:px-0 border-b gap-2"
  >
    <a href="/" class="logoContainer">
      <img
        class="logo"
        src="{{ site.baseurl }}/assets/img/yttoolkits-logo.jpg"
        alt="YtToolKits"
      />
      YtToolKits
    </a>
    <div
      class="flex justify-center w-full gap-2 flex-wrap"
      style="margin-top: 8px"
    >
      <a title="YouTube Tags Generator" href="/tag-genrator" class="mainLink"
        >Tags Generator</a
      >

      <a
        title="Image Drop and Download"
        href="/image-drop-and-download"
        class="mainLink"
      >
        Image Drop & Download
      </a>
      <a
        title="Spotify Top Songs Today"
        href="/spotify-top-songs-right-now"
        class="mainLink"
      >
        Top Songs Today
        <span
          class="absolute -top-1.5 -right-2 rotate-6 text-xs text-white bg-red-600 animate-pulse rounded-full px-1"
          >New</span
        >
      </a>
      <a
        title="Top Spotify Artists 2024"
        href="/top-spotify-artists"
        class="mainLink"
      >
        Top Artists 2024
        <span
          class="absolute -top-1.5 -right-2 rotate-6 text-xs text-white bg-red-600 animate-pulse rounded-full px-1"
          >New</span
        >
      </a>
      <a
        title="Spotify Premium Free"
        href="/spotify-premium-free"
        class="mainLink"
      >
        Spotify Premium Free
        <span
          class="absolute -top-1 -right-1 w-3 h-3 bg-green-500 text-white animate-pulse rounded-full px-1"
        ></span>
      </a>
      <a title="New Spotify Pie" href="/new-spotify-pie" class="mainLink">
        New Spotify Pie
        <span
          class="absolute -top-1.5 -right-2 rotate-6 text-xs text-white bg-red-600 animate-pulse rounded-full px-1"
          >New</span
        >
      </a>
      <a title="Spotify Wrapped" href="/spotify-wrapped" class="mainLink"
        >Spotify Wrapped 2024</a
      >
      <a title="Blogs" href="/blog" class="mainLink">Blogs</a>
    </div>
  </div>
</header>
