---
layout: "default"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="ahrefs-site-verification" content="f9805fd529e993ad2b1929b09f27c0b69fbda9fad04acead603f2847527f3b52">
    <meta charset="UTF-8">
    <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Pie Chart: Your Favorite Spotify Stats Generator</title>
    <meta name="description" content="Bake your unique Spotify Pie Chart with our generator! Transform your Spotify Stats: the most-played artists, genres and top tracks into colorful charts! ᯤ🎧✮">
    <meta name="robots" content="index, follow">
  
    <meta property="og:title" content="Spotify Pie Chart: Your Favorite Spotify Stats Generator">
  <meta property="og:description" content="Bake your unique Spotify Pie Chart with our generator! Transform your Spotify Stats: the most-played artists, genres and top tracks into colorful charts! ᯤ🎧✮">
  <meta property="og:image" content="https://spotifypiechart.github.io//D2RnxR996zNzoYNzdulXK4AlNDsHriqaoIgETIxl.jpg">
  <meta property="og:url" content="https://spotifypiechart.github.io/">
  <meta property="og:site_name" content="Spotify Pie - Exploring Your Spotify Stats in a Fun Way">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <link rel="canonical" href="https://spotifypiechart.github.io/">
  
    <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Spotify Pie Chart: Your Favorite Spotify Stats Generator">
  <meta name="twitter:description" content="Bake your unique Spotify Pie Chart with our generator! Transform your Spotify Stats: the most-played artists, genres and top tracks into colorful charts! ᯤ🎧✮">
  <meta name="twitter:image" content="https://spotifypiechart.github.io//D2RnxR996zNzoYNzdulXK4AlNDsHriqaoIgETIxl.jpg">
  <meta name="twitter:image:alt" content="Spotify Pie Chart: Your Favorite Spotify Stats Generator">
  
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Victor+Mono&display=swap"
      rel="stylesheet">
  
    <script defer data-domain="spotifypiechart.github.io/" src="https://stats.senty.com.au/js/script.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3723218062742398"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/addon-interscroller@1.0.5/dist/interscroller.js"></script>
  <script src="https://stpd.cloud/assets/libraries/inview.min.js"></script>
  <script>
      inView.offset(-200);
  </script>
  <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>

  <script async src="https://stpd.cloud/saas/6406"></script>

  
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
  
    <meta name="google-site-verification" content="0I5jWqQYG7ahDKO-xLIJWViQ8SPeE0SgnfbaXjFInkU" />
  
    
    <link rel="preload" as="style" href="https://spotifypiechart.github.io//build/assets/app-oRXaRPT5.css" /><link rel="modulepreload" href="https://spotifypiechart.github.io//build/assets/app-ARot55nG.js" /><link rel="stylesheet" href="https://spotifypiechart.github.io//build/assets/app-oRXaRPT5.css" /><script type="module" src="https://spotifypiechart.github.io//build/assets/app-ARot55nG.js"></script>  </head>
  
  <body>
    
    <div class="max-w-4xl mx-auto px-5">
      <h1 class="text-4xl font-black text-gray-900 sm:text-5xl">
        Spotify Pie Chart: Your Spotify Stats, Visually
      </h1>
      <p class="mt-6 mb-0 text-lg text-gray-700">
        Spotify Pie Chart is an innovative tool that utilizes your Spotify listening data to create a visually engaging pie chart. This chart provides a detailed breakdown of your musical preferences, highlighting your top artists, genres, and the amount of time spent listening to each. By offering a clear and concise representation of your listening habits, <a class="text-blue-600 hover:text-blue-800" href="https://spotifypiechart.github.io/"><b>Spotify Pie Chart</b></a> empowers you to gain deeper insights into your musical journey.
      </p>
      <h2 class="text-4xl font-black text-gray-900 sm:text-5xl">What is a Spotify Pie Chart?</h2>
      A Spotify Pie Chart is a visually striking representation of your musical tastes. It's a colorful pie chart that breaks down your listening history into distinct segments, each representing a specific genre or artist. By connecting your Spotify account to a dedicated tool, you can generate a personalized pie chart that offers a unique perspective on your music consumption.

This interactive tool allows you to explore your listening habits in detail. You can discover your top genres, identify your <a class="text-blue-600 hover:text-blue-800" href="https://spotifypiechart.github.io/top-spotify-artists/"><b>favorite artists</b></a>, and even uncover hidden trends in your musical preferences. With a Spotify Pie Chart, you can gain a deeper understanding of your musical identity and share your findings with friends and fellow music enthusiasts.
      <img
        src="assets/img/huan-hero-2.png"
        alt="App screenshot"
        width="768"
        height="511"
        class=""
      />
      <div x-data="spotifyLogin" class="py-6 text-gray-700">
        <div class="w-full text-center" x-show="!token">
          <p class="text-center mt-0 mb-4">
            Login with Spotify to see your charts now 👇
          </p>
          <button
            @click="openSpotifyAuthUrl"
            class="px-6 py-3 bg-green-700 text-white text-xl rounded-full text-center font-bold w-full md:w-1/2"
          >
            Login with Spotify
          </button>
          <div class="max-w-xs mx-auto text-sm text-left">
            <p class="mt-6">By logging in, you agree:</p>
            <ul class="">
              <li class="">
                to our
                <a
                  class="text-blue-600 hover:text-blue-800 underline decoration-2 decoration-dotted underline-offset-4"
                  href="/privacy"
                  >Privacy Notice</a
                >, and
              </li>
              <li class="">to receive emails on new features (no spam).</li>
            </ul>
          </div>
        </div>
        <div
          x-show="token"
          @login.window="openSpotifyAuthUrl"
          class="text-center w-full mb-4 flex flex-col items-center"
          style="display: none"
        >
          <p class="font-semibold" x-show="loading" style="display: none">
            Please hang tight while your Spotify Pie is baking...
          </p>
          <img
            x-show="loading"
            class="w-10 my-2 motion-safe:animate-spin"
            src="spotify-pie.png"
            alt="Spotify Pie"
            style="display: none"
          />

          <div
            x-show="!loading"
            class="flex flex-col justify-center items-center"
          >
            <p class="text-xl sm:text-2xl text-green-800 font-semibold mb-1">
              Your Spotify Pie is ready! 🎉
            </p>

            <div
              class="text-center text-sm sm:text-base text-green-800 max-w-xs sm:max-w-sm mx-auto"
            >
              <p>
                Heads up: Clicking the button might show a quick ad. It's how we
                keep Spotify Pie free and tasty for everyone!
              </p>
              <p class="">Thank you for your support. Let's dig in!</p>
            </div>

            <a
              class="rewarded cursor-pointer no-underline px-6 flex justify-center items-center gap-2 py-3 bg-green-600 text-white text-xl rounded-full font-bold"
              data-google-interstitial="false"
              onclick='showAd("/spotify-pie")'
              >See Your Spotify Pie
              <img
                class="w-6 my-0 shrink-0"
                src="spotify-pie.png"
                alt="Spotify Pie"
            /></a>
          </div>
        </div>
      </div>
      <div class="py-6">
        <h2 class="text-4xl font-black text-gray-900 sm:text-5xl">
          Unleash Your Personal Spotify Charts
        </h2>
        <p class="text-lg text-gray-700 mb-8">
          When asking, “What’s my Spotify top artists or my top Spotify songs”,
          use our fun and simple tools to transform your Spotify stats into
          colorful charts.
        </p>
        <h2 class="text-4xl font-black text-gray-900 sm:text-5xl" data-sourcepos="1:1-1:39"><strong>Top 20 FAQs About Spotify Pie Charts</strong></h2>
<h3 ><strong>1. What is a Spotify Pie Chart?</strong></h3>
<p data-sourcepos="3:1-4:207">A Spotify Pie Chart is a visual representation of your listening habits on Spotify. It breaks down your music consumption into different genres, showing the percentage of time you've spent listening to each.</p>

<h3 ><strong>2. How do I create a Spotify Pie Chart?</strong></h3>
<p data-sourcepos="6:1-7:243">You can create a Spotify Pie Chart using various online tools. One popular tool is <a href="https://spotifypiechart.github.io/"><strong>Spotify Pie Chart</strong></a> by Darren Huang. Simply log in to your Spotify account through the tool, and it will generate a pie chart based on your listening history.</p>

<h3><strong>3. What data does a Spotify Pie Chart show?</strong></h3>
<p data-sourcepos="9:1-10:39">A Spotify Pie Chart typically displays:</p>

<ul data-sourcepos="11:1-13:0">
 	<li data-sourcepos="11:1-11:51"><strong>Top Genres:</strong> The primary genres you listen to.</li>
 	<li data-sourcepos="12:1-13:0"><strong>Percentage Breakdown:</strong> The percentage of your listening time dedicated to each genre.</li>
</ul>
<h3 ><strong>4. Can I customize my Spotify Pie Chart?</strong></h3>
<p data-sourcepos="14:1-15:152">Some tools allow you to customize your pie chart by selecting a specific time period (e.g., last month, last year) or focusing on a particular playlist.</p>

<h3 ><strong>5. Is my privacy protected when using Spotify Pie Chart tools?</strong></h3>
<p data-sourcepos="17:1-18:146">Most reputable tools prioritize user privacy. They typically use Spotify's official API to access your data and do not store personal information.</p>

<h3 ><strong>6. Can I share my Spotify Pie Chart on social media?</strong></h3>
<p data-sourcepos="20:1-21:195">Yes, you can share your <a href="https://spotifypiechart.github.io/"><strong>spotify pie</strong></a> chart on social media platforms like Twitter, Instagram, or TikTok. This can be a fun way to connect with other music lovers and see how your listening habits compare.</p>

<h3 ><strong>7. Why is my Spotify Pie Chart inaccurate?</strong></h3>
<p data-sourcepos="23:1-24:61">Several factors can influence the accuracy of your pie chart:</p>

<ul data-sourcepos="25:1-28:0">
 	<li data-sourcepos="25:1-25:132"><strong>Genre Classification:</strong> Spotify's genre classification system may not always be accurate, especially for niche or hybrid genres.</li>
 	<li data-sourcepos="26:1-26:134"><strong>Playlist Data:</strong> If you have a diverse range of playlists, the pie chart may not accurately reflect your overall listening habits.</li>
 	<li data-sourcepos="27:1-28:0"><strong>Tool Limitations:</strong> Some tools may have limitations in data processing or visualization.</li>
</ul>
<h3><strong>8. What are some popular Spotify Pie Chart tools?</strong></h3>
<ul data-sourcepos="30:1-33:0">
 	<li data-sourcepos="30:1-30:39"><strong>Spotify Pie Chart</strong> by Darren Huang</li>
 	<li data-sourcepos="31:1-31:16"><a href="https://spotifypiechart.github.io/receiptify/"><strong>Receiptify</strong></a></li>
 	<li data-sourcepos="32:1-33:0"><strong>Spotify Wrapped</strong> (annual year-end review)</li>
</ul>
<h3><strong>9. Can I see my Spotify listening history without a pie chart?</strong></h3>
<p data-sourcepos="34:1-35:134">Yes, you can view your listening history directly on Spotify. Go to your profile, click on "Your Library," and then "Recently Played."</p>

<h3><strong>10. Why is my Spotify Pie Chart missing some genres?</strong></h3>
<p data-sourcepos="37:1-38:117">If a genre is not widely recognized or has a small percentage of your listening time, it may not appear on the chart.</p>

<h3><strong>11. Can I create a Spotify Pie Chart for a specific playlist?</strong></h3>
<p data-sourcepos="40:1-41:151">Some tools allow you to create a pie chart for a specific playlist, giving you a more detailed breakdown of your listening habits within that playlist.</p>

<h3><strong>12. Can I compare my Spotify Pie Chart with friends?</strong></h3>
<p data-sourcepos="43:1-44:125">While there's no direct feature to compare pie charts, you can share your chart with friends and discuss your musical tastes.</p>

<h3><strong>13. Can I use my Spotify Pie Chart to discover new music?</strong></h3>
<p data-sourcepos="46:1-47:190">Yes, you can use your pie chart to identify genres you may be interested in exploring further. By clicking on specific genre slices, you can discover new artists and songs within that genre.</p>

<h3><strong>14. Are there any privacy concerns associated with using Spotify Pie Chart tools?</strong></h3>
<p data-sourcepos="49:1-50:106">While most tools are safe, it's always a good idea to be cautious and avoid sharing sensitive information.</p>

<h2 data-sourcepos="52:1-53:196"><strong>15. Can I use a Spotify Pie Chart to analyze my mental health?</strong></h2>
<p data-sourcepos="52:1-53:196">While it's an interesting idea, using a Spotify Pie Chart to analyze mental health is not scientifically validated. It's best to consult with a mental health professional for accurate assessments.</p>

<h3><strong>16. Can I use a Spotify Pie Chart to create a personalized playlist?</strong></h3>
<p data-sourcepos="55:1-56:108">Yes, you can use your pie chart to identify your favorite genres and create playlists based on those genres.</p>

<h3><strong>17. Can I use a Spotify Pie Chart to understand music trends?</strong></h3>
<p data-sourcepos="58:1-59:150">While a personal Spotify Pie Chart can provide insights into individual listening habits, it's not a reliable tool for analyzing broader music trends.</p>

<h3><strong>18. Can I use a Spotify Pie Chart to improve my music taste?</strong></h3>
<p data-sourcepos="61:1-62:127">While a pie chart can help you identify your preferences, it's ultimately up to you to decide what music you want to listen to.</p>

<h3><strong>19. Can I use a Spotify Pie Chart to market my music?</strong></h3>
<p data-sourcepos="64:1-65:152">If you're a musician, you can use your pie chart to understand your target audience's musical preferences and tailor your marketing efforts accordingly.</p>

<h3><strong>20. Can I use a Spotify Pie Chart to create a music visualization?</strong></h3>
<p data-sourcepos="67:1-68:137">Yes, you can use your pie chart as a starting point for creating a more complex music visualization, such as a music video or album art.</p>

        <div class="grid sm:grid-cols-2 gap-6">
          <div
            class="overflow-hidden group w-full h-full relative aspect-square p-4 rounded-lg shadow-lg bg-[#AE2896]"
          >
            <img
              src="assets/img/Spotify Pie Chart.png"
              alt="Spotify Pie Chart"
              title="Spotify Pie Chart"
              class="w-full h-full object-cover absolute inset-0 z-0 rounded-lg my-0 group-hover:scale-[105%] transition"
            />
            <h3 class="font-black text-white my-0 relative leading-none mb-4">
              Spotify Pie Chart
            </h3>
            <p class="mt-0 mb-2 text-base relative text-gray-50">
              Your top artists and Spotify genre stats taste better in your
              personalized Pie Chart.
            </p>
            <a
              x-data="{}"
              @click.prevent="$dispatch('login')"
              class="underline decoration-2 decoration-dotted text-white underline-offset-4 before:absolute before:inset-0"
              href="/"
              >Bake Spotify Pie Chart</a
            >
          </div>

          <div
            class="overflow-hidden group w-full h-full relative aspect-square p-4 rounded-lg shadow-lg bg-[#006450]"
          >
            <img
              src="assets/img/stats-for-spotify.png"
              alt="In-Depth Stats for Spotify"
              title="In-Depth Stats for Spotify"
              class="w-full h-full object-cover absolute inset-0 z-0 rounded-lg my-0 group-hover:scale-[105%] transition"
            />
            <h3 class="font-black text-white my-0 relative leading-none mb-4">
              Stats for Spotify
            </h3>
            <p class="mt-0 mb-2 text-base relative text-gray-50">
              See your top songs, artists and genres for the last month, 6
              months or all-time stats.
            </p>
            <a
              class="underline decoration-2 decoration-dotted text-white underline-offset-4 before:absolute before:inset-0"
              href="/spotify-stats"
              >Check Spotify Stats</a
            >
          </div>

          <div
            class="overflow-hidden group w-full h-full relative aspect-square p-4 rounded-lg shadow-lg bg-[#8A508F]"
          >
            <img
              src="assets/img/Receiptify.png"
              alt="Receiptify"
              title="Receiptify"
              class="w-full h-full object-cover absolute inset-0 z-0 rounded-lg my-0 group-hover:scale-[105%] transition"
            />
            <h3 class="font-black text-white my-0 relative leading-none mb-4">
              Receiptify
            </h3>
            <p class="mt-0 mb-2 text-base relative text-gray-50">
              Transform last month’s most-played artists into a chic,
              receipt-style keepsake.
            </p>
            <a
              class="underline decoration-2 decoration-dotted text-white underline-offset-4 before:absolute before:inset-0"
              href="/receiptify"
              >Get Spotify Receipt</a
            >
          </div>

          <div
            class="overflow-hidden group w-full h-full relative aspect-square p-4 rounded-lg shadow-lg bg-[#1E3264]"
          >
            <img
              src="assets/img/Music Pie Chart.png"
              alt="Music Pie Chart"
              title="Music Pie Chart"
              class="w-full h-full object-cover absolute inset-0 z-0 rounded-lg my-0 group-hover:scale-[105%] transition"
            />
            <h3 class="font-black text-white my-0 relative leading-none mb-4">
              Music Pie Chart
            </h3>
            <p class="mt-0 mb-2 text-base relative text-gray-50">
              Try the NEW Spotify Pie - the hottest way to look at your musical
              mix!
            </p>
            <a
              class="underline decoration-2 decoration-dotted text-white underline-offset-4 before:absolute before:inset-0"
              href="/new-spotify-pie"
              >Try NEW Spotify Pie</a
            >
          </div>

          <div
            class="overflow-hidden group w-full h-full relative aspect-square p-4 rounded-lg shadow-lg bg-[#AA4682]"
          >
            <img
              src="assets/img/Spotify Bubble Chart.png"
              alt="Spotify Bubble Chart"
              title="Spotify Bubble Chart"
              class="w-full h-full object-cover absolute inset-0 z-0 rounded-lg my-0 group-hover:scale-[105%] transition"
            />
            <h3 class="font-black text-white my-0 relative leading-none mb-4">
              Spotify Bubble Chart
            </h3>
            <p class="mt-0 mb-2 text-base relative text-gray-50">
              Visualize your top artists in a bubble chart that pops with
              personality.
            </p>
            <a
              class="underline decoration-2 decoration-dotted text-white underline-offset-4 before:absolute before:inset-0"
              href="/spotify-bubble-chart"
              >See Spotify Bubble</a
            >
          </div>

          <div
            class="overflow-hidden group w-full h-full relative aspect-square p-4 rounded-lg shadow-lg bg-[#007D7D]"
          >
            <img
              src="assets/img/Classic Spotify Pie.png"
              alt="Classic Spotify Pie"
              title="Classic Spotify Pie"
              class="w-full h-full object-cover absolute inset-0 z-0 rounded-lg my-0 group-hover:scale-[105%] transition"
            />
            <h3 class="font-black text-white my-0 relative leading-none mb-4">
              Classic Spotify Pie
            </h3>
            <p class="mt-0 mb-2 text-base relative text-gray-50">
              Rediscover the timeless classic, the original Spotify Pie that
              started it all.
            </p>
            <a
              class="underline decoration-2 decoration-dotted text-white underline-offset-4 before:absolute before:inset-0"
              href="/old-spotify-pie"
              >See Old Spotify Pie</a
            >
          </div>
        </div>
      </div>
      <div>
        <h2 class="font-black text-gray-900">
          Tune into Your Spotify Insights
        </h2>

        <div class="grid auto-rows-fr grid-cols-1 gap-8 lg:grid-cols-2">
          <article class="relative">
            <div
              class="shadow-lg flex relative justify-end flex-col overflow-hidden rounded-2xl bg-gray-900 aspect-video"
            >
              <div class="aspect-video isolate">
                <img
                  src="assets/img/article-cover-6.jpg"
                  alt="How To See Spotify Wrapped 2024?"
                  class="absolute inset-0 -z-10 h-full w-full object-cover my-0"
                />
                <div
                  class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
                ></div>
                <div
                  class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
                ></div>
              </div>
              <h3
                class="mx-4 my-3 text-lg font-semibold leading-6 text-white z-10"
              >
                <a
                  href="/spotify-wrapped"
                  class="before:absolute before:inset-0 text-white no-underline font-black leading-none"
                  >How To See Spotify Wrapped 2024?
                </a>
              </h3>
            </div>
            <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-700">
              Discover the Spotify Wrapped 2024 along with the retrospective
              Spotify dates!
            </p>
          </article>
          <article class="relative">
            <div
              class="shadow-lg flex relative justify-end flex-col overflow-hidden rounded-2xl bg-gray-900 aspect-video"
            >
              <div class="aspect-video isolate">
                <img
                  src="assets/img/article-cover-2.jpg"
                  alt="Spotify Monthly Stats: Top 10 Spotify Artists"
                  class="absolute inset-0 -z-10 h-full w-full object-cover my-0"
                />
                <div
                  class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
                ></div>
                <div
                  class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
                ></div>
              </div>
              <h3
                class="mx-4 my-3 text-lg font-semibold leading-6 text-white z-10"
              >
                <a
                  href="/top-spotify-artists"
                  class="before:absolute before:inset-0 text-white no-underline font-black leading-none"
                  >Spotify Monthly Stats: Top 10 Spotify Artists
                </a>
              </h3>
            </div>
            <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-700">
              Find out the top Spotify artists leading the charts last month.
            </p>
          </article>
          <article class="relative">
            <div
              class="shadow-lg flex relative justify-end flex-col overflow-hidden rounded-2xl bg-gray-900 aspect-video"
            >
              <div class="aspect-video isolate">
                <img
                  src="assets/img/article-cover-3.jpg"
                  alt="Popular Songs Right Now"
                  class="absolute inset-0 -z-10 h-full w-full object-cover my-0"
                />
                <div
                  class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
                ></div>
                <div
                  class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
                ></div>
              </div>
              <h3
                class="mx-4 my-3 text-lg font-semibold leading-6 text-white z-10"
              >
                <a
                  href="/spotify-top-songs-right-now"
                  class="before:absolute before:inset-0 text-white no-underline font-black leading-none"
                  >Popular Songs Right Now
                </a>
              </h3>
            </div>
            <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-700">
              Explore the hit list: Spotify's most popular song right now.
            </p>
          </article>
          <article class="relative">
            <div
              class="shadow-lg flex relative justify-end flex-col overflow-hidden rounded-2xl bg-gray-900 aspect-video"
            >
              <div class="aspect-video isolate">
                <img
                  src="assets/img/article-cover-8.jpg"
                  alt="Playlist Name Generator"
                  class="absolute inset-0 -z-10 h-full w-full object-cover my-0"
                />
                <div
                  class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
                ></div>
                <div
                  class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
                ></div>
              </div>
              <h3
                class="mx-4 my-3 text-lg font-semibold leading-6 text-white z-10"
              >
                <a
                  href="/playlist-name-generator "
                  class="before:absolute before:inset-0 text-white no-underline font-black leading-none"
                  >Playlist Name Generator
                </a>
              </h3>
            </div>
            <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-700">
              Need playlist name ideas? Our playlist title generator is all you
              need to make aesthetic playlist names.
            </p>
          </article>
          <article class="relative">
            <div
              class="shadow-lg flex relative justify-end flex-col overflow-hidden rounded-2xl bg-gray-900 aspect-video"
            >
              <div class="aspect-video isolate">
                <img
                  src="assets/img/article-cover-4.jpg"
                  alt="How To Get Spotify Premium For Free?"
                  class="absolute inset-0 -z-10 h-full w-full object-cover my-0"
                />
                <div
                  class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
                ></div>
                <div
                  class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
                ></div>
              </div>
              <h3
                class="mx-4 my-3 text-lg font-semibold leading-6 text-white z-10"
              >
                <a
                  href="/spotify-premium-free"
                  class="before:absolute before:inset-0 text-white no-underline font-black leading-none"
                  >How To Get Spotify Premium For Free?
                </a>
              </h3>
            </div>
            <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-700">
              Here’s all about Spotify’s free trials and Spotify premium for
              students.
            </p>
          </article>
          <article class="relative">
            <div
              class="shadow-lg flex relative justify-end flex-col overflow-hidden rounded-2xl bg-gray-900 aspect-video"
            >
              <div class="aspect-video isolate">
                <img
                  src="assets/img/article-cover-9.jpg"
                  alt="Dig Deeper With Trackify For Spotify"
                  class="absolute inset-0 -z-10 h-full w-full object-cover my-0"
                />
                <div
                  class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
                ></div>
                <div
                  class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
                ></div>
              </div>
              <h3
                class="mx-4 my-3 text-lg font-semibold leading-6 text-white z-10"
              >
                <a
                  href="/trackify"
                  class="before:absolute before:inset-0 text-white no-underline font-black leading-none"
                  >Dig Deeper With Trackify For Spotify
                </a>
              </h3>
            </div>
            <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-700">
              Explore your top tracks and Spotify stats in a new way with
              Trackify.
            </p>
          </article>
        </div>
      </div>
      <div class="py-6">
        <h2 class="font-black text-gray-900">
          Popular Songs Right Now with Spotify Pie Playlist
        </h2>
        <p class="mb-8 text-lg text-gray-700">
          Discover the most
          <a
            class="text-blue-600 underline hover:text-blue-800 decoration-2 decoration-dotted underline-offset-4"
            href="/spotify-top-songs-right-now"
            >streamed song on Spotify today</a
          >, updated daily. Get on top of the music trends with the latest hits!
        </p>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/05U8p1ogpQ6TZdrtWB551w?utm_source=generator&amp;theme=0"
          width="100%"
          height="480"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
<h2 class="font-black text-gray-900">K-Pop Fresh - Playlist by Spotify   </h2>
        <iframe 
style="border-radius:12px" 
src="https://open.spotify.com/embed/playlist/2ezFCJD7EIgx7KVcHDsjgr?utm_source=generator" 
width="100%" 
height="352" frameBorder="0" 
allowfullscreen="" 
allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
</iframe>
      </div>
    </div>
    <script>
      document.addEventListener('alpine:init', () => {
          console.log('spotify-login.blade.php')
          Alpine.data('spotifyLogin', () => ({
              token: null,
              loading: false,
              countdown: 5,
              spotifyAuthUrl: 'https://musicpiechart.com/auth/login?embed=true',
              openSpotifyAuthUrl() {
                  window.open(this.spotifyAuthUrl, '_blank', 'height=600,width=800');
              },
              onMessage(event) {
                  if (event.data.app === 'musicpiechart') {
                      this.token = event.data.token;
                      localStorage.setItem('token', event.data.token);
                      this.loading = true;
                      // start countdown
                      setInterval(() => {
                          this.countdown--;
                      }, 1000);
                      setTimeout(() => {
                          this.loading = false;
                      }, this.countdown * 1000);
                  }
              },
              async init() {
                  window.addEventListener('message', this.onMessage.bind(this));
              }
          }));
      });
  </script>
  </body>
</html>
