<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="ahrefs-site-verification"
      content="f9805fd529e993ad2b1929b09f27c0b69fbda9fad04acead603f2847527f3b52"
    />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{post.title}}</title>
    <meta name="description" content="Leave the feedback about Spotify Pie" />

    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="Share your feedback on Spotify Pie" />
    <meta
      property="og:description"
      content="Leave the feedback about Spotify Pie"
    />
    <meta property="og:image" content="https://spotifypiechart.github.io/" />
    <meta
      property="og:url"
      content="https://spotifypiechart.github.io/feedback"
    />
    <meta
      property="og:site_name"
      content="Spotify Pie - Exploring Your Spotify Stats in a Fun Way"
    />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <link rel="canonical" href="https://spotifypiechart.github.io/feedback" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Share your feedback on Spotify Pie" />
    <meta
      name="twitter:description"
      content="Leave the feedback about Spotify Pie"
    />
    <meta name="twitter:image" content="https://spotifypiechart.github.io/" />
    <meta
      name="twitter:image:alt"
      content="Share your feedback on Spotify Pie"
    />

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Victor+Mono&display=swap"
      rel="stylesheet"
    />

    <script
      defer
      data-domain="huangdarren1106.github.io"
      src="https://stats.senty.com.au/js/script.js"
    ></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3723218062742398"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/addon-interscroller@1.0.5/dist/interscroller.js"></script>
    <script src="https://stpd.cloud/assets/libraries/inview.min.js"></script>
    <script>
      inView.offset(-200);
    </script>
    <script
      async
      src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
    ></script>

    <script async src="https://stpd.cloud/saas/6406"></script>

    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta
      name="google-site-verification"
      content="0I5jWqQYG7ahDKO-xLIJWViQ8SPeE0SgnfbaXjFInkU"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />

    <link rel="preload" as="style" href="/assets/css/app-oRXaRPT5.css" />
    <link rel="modulepreload" href="/assets/js/app-ARot55nG.js" />
    <link rel="stylesheet" href="/assets/css/app-oRXaRPT5.css" />

    <script type="module" src="/assets/js/app-ARot55nG.js"></script>
  </head>

  <body class="relative">
    {% include myheader.html %}
    <div
      class="max-w-2xl px-4 pt-8 mx-auto prose prose-lg prose-img:text-center prose-img:mx-auto lg:px-0"
    >
      <main class="block w-20 mx-auto" >{{ content }}</main>
    </div>
    {% include myfooter.html %}
  </body>
</html>
